.login-block {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  h1 {
    margin-top: 20%;
    text-align: center;
  }

  .form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .login-input {
      padding: 5px;
      border: 1px solid #C6C6C6;
      height: 25px;
      margin-bottom: 5px;
    }
  }
  .white-btn {
    margin-bottom: 5px;
  }
}
