<button class="create-conversation" (click)="openDialog('createConversation')">+ create conversation</button>
<button class="create-conversation" (click)="signOut()">sign out</button>
<div class="main-block">
  <div class="conversation-blocks" *ngFor="let conversation of (conversations | async)">
    <div class="title">Name: {{conversation.name}}</div>
    <input type="checkbox" id="favoritesCheckbox" [(ngModel)]="conversation.isFavorite" (change)="changeConversationFavoriteState(conversation)">
    <label for="favoritesCheckbox">Favorite</label>
    <div class="action-btns">
      <button class="action-btn" (click)="openDialog('addUser', conversation)">+ add user</button>
      <button class="action-btn" (click)="openDialog('showInfo', conversation)">show info</button>
      <button class="action-btn" (click)="openConversation(conversation)">open</button>
      <button class="delete-btn" (click)="openDialog('delete', conversation)">delete</button>
    </div>
  </div>
</div>
